:root{
    --primary: #5b4025;
    --bg: #010101;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff; 
}

/* Produk kami */
.produk .content{ 
    text-align: center;
    font-size: 0.75rem;
    padding: 2rem;
}

.produk .content h1{
    font-size: 5em;
    color: #fff;
    text-shadow: 1px, 1px, 3px, rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.produk .content h1 span{
    color: var(--primary);
}

.produk .content p{
    font-size: 1rem ;
}   

/* list produk */

.list .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between;
}

.list .row .menu-card{
    flex: 1 1 22%;
    max-width: 22%;
    text-align: center;
    padding-bottom: 4rem;
    margin: 0 1rem 2rem 1rem;
    box-sizing: border-box;
}

.list .row .menu-card img {
    width: 60%;
    margin-top: 2rem;
}

.menu .row .menu-card .menu-card-title{
    margin: 1rem auto 1rem;
}

.menu .row .menu-card h3, p{
    text-align: center;
}

/* Registration page styles */
.login-box {
  width: 350px;
  height: 425px;
  background-color: #222;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(91, 64, 37, 0.7);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-box .login.header header {
  font-size: 2rem;
  font-weight: 700;
  color: #f0a559;
  text-align: center;
}

.login-box .input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-box .input-field {
  padding: 1rem;
  font-size: 1rem;
  border: solid 2px;
  border-radius: 30px;
  border-color: var(--primary);
  background-color: #333;
  color: #fff;
}

.login-box .forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #ccc;
}

.login-box .forgot .checklist {
  width: auto;
  margin-right: 0.5rem;
}

.login-box .forgot a {
  color: var(--primary);
  text-decoration: none;
}

.login-box .forgot a:hover {
  text-decoration: underline;
}

.login-box .btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login-box .btn:hover {
  background-color: #7a5a2b;
  border: solid;
}


